In [1]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('omw-1.4')
import re
import heapq  
import pickle
import pandas as pd
import numpy as np
from string import punctuation
from nltk.corpus import stopwords
punctuation = punctuation + '\n'
from nltk.stem.isri import ISRIStemmer
from nltk.tokenize import word_tokenize, sent_tokenize
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import RidgeClassifier

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\USER\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\USER\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\USER\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\USER\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [2]:
categories = ['Economy & Business', 'Diverse News', 'Politic', 'Sport', 'Technology']

In [3]:
def nltk_summarizer(input_text, number_of_sentence):
    stopWords = set(nltk.corpus.stopwords.words("arabic") + nltk.corpus.stopwords.words("english"))
    word_frequencies = {}  
    for word in nltk.word_tokenize(input_text):  
        if word not in stopWords:
            if word not in punctuation:
                if word not in word_frequencies.keys():
                    word_frequencies[word] = 1
                else:
                    word_frequencies[word] += 1

    maximum_frequncy = max(word_frequencies.values())

    for word in word_frequencies.keys():  
        word_frequencies[word] = (word_frequencies[word]/maximum_frequncy)

    sentence_list = nltk.sent_tokenize(input_text)
    sentence_scores = {}  
    for sent in sentence_list:  
        for word in nltk.word_tokenize(sent.lower()):
            if word in word_frequencies.keys():
                if len(sent.split(' ')) < 30:
                    if sent not in sentence_scores.keys():
                        sentence_scores[sent] = word_frequencies[word]
                    else:
                        sentence_scores[sent] += word_frequencies[word]

    summary_sentences = heapq.nlargest(number_of_sentence, sentence_scores, key=sentence_scores.get)

    summary = ' '.join(summary_sentences)  
    return summary

In [4]:
en_data = pd.read_csv(r"C:/Users/USER/Desktop/Text-Summarizer-and-Categorical-main/Text-Summarizer-and-Categorical-main/dataset/bbc_news_dataset.csv")
en_data = en_data.replace("entertainment", "diverse news")
en_data = en_data.replace("business", "economy & business")

ar_data = pd.read_csv(r"C:/Users/USER/Desktop/Text-Summarizer-and-Categorical-main/Text-Summarizer-and-Categorical-main/dataset/arabic_dataset.csv")
ar_data = ar_data.replace("diverse", "diverse news")
ar_data = ar_data.replace("culture", "diverse news")
ar_data = ar_data.replace("politic", "politics")
ar_data = ar_data.replace("technology", "tech")
ar_data = ar_data.replace("economy", "economy & business")
ar_data = ar_data.replace("internationalNews", "politics")
ar_data = ar_data[~ar_data['type'].str.contains('localnews')]
ar_data = ar_data[~ar_data['type'].str.contains('society')]
en_data.sample(10)

,ArticleId,Text,Category
856,1027,newcastle 27-27 gloucester newcastle centre ma...,sport
1064,2075,apple sues tiger file sharers apple has take...,tech
339,739,us duo in first spam conviction a brother and ...,tech
17,486,hantuchova in dubai last eight daniela hantuch...,sport
483,47,jamieson issues warning to bigots scotland s j...,politics
901,241,retail sales show festive fervour uk retail sa...,economy & business
215,761,kilroy-silk attacked with slurry euro mp rober...,politics
0,1833,worldcom ex-boss launches defence lawyers defe...,economy & business
1343,1734,borders 19-20 ulster ulster clung on for a mor...,sport
855,1410,tsunami debt deal to be announced chancellor g...,politics

In [5]:
ar_data.sample(10)

,Unnamed: 0,text,type
3898,974,\nعلمت راديو جوهرة أف أم من مصادرها الخاصة أن ...,sport
4142,1218,\nقرر نجم كرة القدم الهولندية ماركو فان باستن ...,sport
826,227,\nتم، الثلاثاء، التوقيع على عقد التفويت في الم...,economy & business
373,249,\nتمالكت مذيعة هندية نفسها وواصلت قراءة نشرة ا...,diverse news
2900,718,\nتقدمت الكتلة الديمقراطية بمجلس نواب الشعب، ب...,politics
4188,1264,\nيحتضن ملعب جرجيس اليوم بداية من الساعة 14:30...,sport
1976,1049,\nأعاد الأخ غير الشقيق للرئيس الأمريكي السابق ...,politics
1559,632,\nقال مسؤول قضائي اليوم الخميس إن الشرطة الفرن...,politics
2331,149,\n تحدث رضا بلحاج، الممثل القانوني لحركة نداء ...,politics
4223,1299,\nيحتضن ملعب حمام الأنف عشية اليوم مقابلة نصف ...,sport

In [6]:
def delete_links(input_text):
    pettern  = r'''(?i)\b((?:https?://|www\d{0,3}[.]|[a-z0-9.\-]+[.][a-z]{2,4}/)(?:[^\s()<>]+|\(([^\s()<>]+|(\([^\s()<>]+\)))*\))+(?:\(([^\s()<>]+|(\([^\s()<>]+\)))*\)|[^\s`!()\[\]{};:'".,<>?«»“”‘’]))'''
    out_text = re.sub(pettern, ' ', input_text)
    return out_text

In [7]:
def delete_repeated_characters(input_text):
    pattern  = r'(.)\1{2,}'
    out_text = re.sub(pattern, r"\1\1", input_text)
    return out_text

In [8]:
def replace_letters(input_text):
    replace = {"أ": "ا","ة": "ه","إ": "ا","آ": "ا","": ""}
    replace = dict((re.escape(k), v) for k, v in replace.items()) 
    pattern = re.compile("|".join(replace.keys()))
    out_text = pattern.sub(lambda m: replace[re.escape(m.group(0))], input_text)
    return out_text

In [9]:
def clean_text(input_text):
    replace = r'[/(){}\[\]|@âÂ,;\?\'\"\*…؟–’،!&\+-:؛-]'
    out_text = re.sub(replace, " ", input_text)
    words = nltk.word_tokenize(out_text)
    words = [word for word in words if word.isalpha()]
    out_text = ' '.join(words)
    return out_text

In [10]:
def remove_vowelization(input_text):
    vowelization = re.compile(""" ّ|َ|ً|ُ|ٌ|ِ|ٍ|ْ|ـ""", re.VERBOSE)
    out_text = re.sub(vowelization, '', input_text)
    return out_text

In [11]:
def delete_stopwords(input_text):
    stop_words = set(nltk.corpus.stopwords.words("arabic") + nltk.corpus.stopwords.words("english"))
    tokenizer = nltk.tokenize.WhitespaceTokenizer()
    tokens = tokenizer.tokenize(input_text)
    wnl = nltk.WordNetLemmatizer()
    lemmatizedTokens =[wnl.lemmatize(t) for t in tokens]
    out_text = [w for w in lemmatizedTokens if not w in stop_words]
    out_text = ' '.join(out_text)
    return out_text

In [12]:
def stem_text(input_text):
    st = ISRIStemmer()
    tokenizer = nltk.tokenize.WhitespaceTokenizer()
    tokens = tokenizer.tokenize(input_text)
    out_text = [st.stem(w) for w in tokens]
    out_text = ' '.join(out_text)
    return out_text

In [13]:
def text_prepare(input_text, ar_text):
    out_text = delete_links(input_text)
    out_text = delete_repeated_characters(out_text)
    out_text = clean_text(out_text)
    out_text = delete_stopwords(out_text)
    if ar_text:
        out_text = replace_letters(out_text)
        out_text = remove_vowelization(out_text)
        out_text = stem_text(out_text)
    else:
        out_text = out_text.lower()
    return out_text

In [14]:
en_data['Processed Text'] = en_data['Text'].apply(text_prepare, args=(False,))
ar_data['Processed Text'] = ar_data['text'].apply(text_prepare, args=(True,))
en_data.sample(10)

,ArticleId,Text,Category,Processed Text
1167,1005,critics back aviator for oscars martin scorses...,diverse news,critic back aviator oscar martin scorsese avia...
491,2036,what now for kelly holmes last april kelly h...,sport,kelly holmes last april kelly holmes spoke bbc...
636,1049,de niro film leads us box office film star rob...,diverse news,de niro film lead u box office film star rober...
624,785,&#163;1.8m indecency fine for viacom media gia...,diverse news,indecency fine viacom medium giant viacom ha p...
126,634,gallery unveils interactive tree a christmas t...,diverse news,gallery unveils interactive tree christmas tre...
238,485,lewis-francis eyeing world gold mark lewis-fra...,sport,lewis francis eyeing world gold mark lewis fra...
1170,566,howard attacks pay later budget tory leader ...,politics,howard attack pay later budget tory leader mic...
499,2131,ibm puts cash behind linux push ibm is spendin...,tech,ibm put cash behind linux push ibm spending ne...
941,2160,wal-mart is sued over rude lyrics the parents ...,diverse news,wal mart sued rude lyric parent year old girl ...
1026,905,marsh executive in guilty plea an executive at...,economy & business,marsh executive guilty plea executive u insura...

In [15]:
ar_data.sample(10)

,Unnamed: 0,text,type,Processed Text
146,22,\nقام أمريكي دونالند بيو يبلغ من العمر 45 عاما...,diverse news,امر دونالند بيو بلغ عمر عما طلب شرط دين ليمابو...
2150,1223,\nانتقدت المتحدثة باسم الخارجية الأمريكية خلال...,politics,نقد تحدث بسم خرج امر خلل ؤمر صحف عقد خمس عبر د...
4186,1262,\nتمكن مانشستر سيتي اليوم الثلاثاء من تحقيق فو...,sport,تمك مانشستر سيت اليوم ثلاثاء حقق فوز هما ثير م...
935,8,\nأعلنت السلطات الإيطالية أمس الأحد 8 نوفمبر 2...,politics,اعل سلط يطل احد عقل قيد ونس نظم دعش رهب سعى دخ...
3979,1055,\nتأهلت لاعبة التنس التونسية انس جابر المصنفة ...,sport,تهل لعب تنس ونس انس جبر صنف علم الى ثمن نهي دو...
1422,495,"\nقال الإعلامي في قناة ""فرانس 24"" توفيق مجيّد ...",politics,قال علم قنه رنس وفق رشح نخب رنس ايمانويل اكر ق...
681,82,\nقالت كاهية مدير وحدة البرمجة والتنسيق والصلح...,economy & business,قلت كهي دير وحد رمج نسق صلح دري دره عمه ادء نج...
870,271,\nقال الخبير الاقتصادي معز الجودي إن انهيار ال...,economy & business,قال خبر قصد معز جود هير دينار ونس وصل خلل ايم ...
1805,878,\n أعلنت وزارة الدفاع الجزائرية في بلاغ لها أن...,politics,اعل وزر دفع جزر بلغ انه تم احد عثر غام قلد صنع...
3129,205,\nسافر عشية اليوم وفد المنتخب المنتخب الوطني ل...,sport,سفر عشه اليوم وفد نخب نخب وطن تايوندكو كور جنب...

In [16]:
en_label_encoder = LabelEncoder()
en_data['Category Encoded'] = en_label_encoder.fit_transform(en_data['Category'])

ar_label_encoder = LabelEncoder()
ar_data['Category Encoded'] = ar_label_encoder.fit_transform(ar_data['type'])
ar_data['Category Encoded'] = ar_data['Category Encoded'].replace(1, 0)
ar_data['Category Encoded'] = ar_data['Category Encoded'].replace(0, 1)

en_data.sample(10)

,ArticleId,Text,Category,Processed Text,Category Encoded
1300,916,highbury tunnel players in clear the football ...,sport,highbury tunnel player clear football associat...,3
1270,1495,brit awards for devon music acts devon singer ...,diverse news,brit award devon music act devon singer joss s...,0
1480,1124,qantas sees profits fly to record australian a...,economy & business,qantas see profit fly record australian airlin...,1
687,1817,blair and blunkett sheffield trip tony blair i...,politics,blair blunkett sheffield trip tony blair join ...,2
1092,2063,will the budget bring out smiling voters as t...,politics,budget bring smiling voter tory spokesman oliv...,2
1098,834,wenger offers mutu hope arsenal boss arsene we...,sport,wenger offer mutu hope arsenal bos arsene weng...,3
697,879,slow start to speedy net services faster broad...,tech,slow start speedy net service faster broadband...,4
1123,478,britons fed up with net service a survey condu...,tech,briton fed net service survey conducted pc pro...,4
630,1226,millions to lose textile jobs millions of th...,economy & business,million lose textile job million world poorest...,1
1417,192,the ticking budget facing the us the budget ...,economy & business,ticking budget facing u budget proposal laid a...,1

In [17]:
ar_data.sample(10)

,Unnamed: 0,text,type,Processed Text,Category Encoded
269,145,\nأمضى مغني الراب كايني ويست زوج نجمة تليفزيون...,diverse news,مضى غني راب كاي ويس زوج نجم يفز وقع كيم كاردش ...,1
3370,446,\nاعلنت الرابطة الوطنية عن موعد المباريات المت...,sport,اعل ربط وطن وعد بري تخر نسب جول ثني ايب بطل رب...,3
2692,510,\nوصفت القيادية بالحزب الجمهوري مية الجريبي ال...,politics,وصف قيد حزب جمهور ميه جرب اليوم سبت وضع جمع ون...,2
3050,126,\nأعلن رئيس الاتحاد السعودي لكرة القدم، عادل ع...,sport,اعل رئس تحد سعد لكر قدم عدل عزت بدء جرب قنه يد...,3
590,466,"\nكشفت دراسة نشرتها صحيفة ""ذا صن"" البريطانية ...",diverse news,كشف درس نشر صحف صن بريطانيه قرص نرن وسع شطت سو...,1
3929,1005,\nنشرت الصفحة الخاصة بفريق العهد اللبناني مقطع...,sport,نشر صفح خصه فرق عهد لبن قطع يدو اعب ونس وسف وي...,3
3913,989,"\nأمضت شركة ""Land d'or"" اليوم إتفاقية شراكة جه...",sport,امض شرك Land اليوم تفق شرك جهي فرق رشلو اسب مت...,3
2146,1219,\nأفادت الوكالة الفرنسية للإعلام أنّ برلمان كا...,politics,فدت وكل رنس علم رلم كاتالو اليوم اثن قلل سبن,2
2300,118,\nوصفت النائبة عن حزب نداء تونس، هالة عمران ما...,politics,وصف نئب حزب ندء ونس هله عمر يقم رئس حزب زيتو ع...,2
2797,615,\nدعت أحزاب المبادرة الوطنية الدستورية، والدست...,politics,دعت حزب بدر وطن دستور دستور لحر وحر شرع ونس بي...,2

In [18]:
en_X_train, en_X_test, en_y_train, en_y_test = train_test_split(en_data['Processed Text'], en_data['Category Encoded'], test_size=0.2, random_state=0)
ar_X_train, ar_X_test, ar_y_train, ar_y_test = train_test_split(ar_data['Processed Text'], ar_data['Category Encoded'], test_size=0.2, random_state=0)

In [19]:
def tfidf_features(X_train, X_test, ngram_range):
    tfidf_vectorizer = TfidfVectorizer(min_df=2, max_df=0.5, ngram_range=(1, ngram_range))
    X_train = tfidf_vectorizer.fit_transform(X_train)
    X_test = tfidf_vectorizer.transform(X_test)
    return X_train, X_test

In [20]:
en_features_train, en_features_test = tfidf_features(en_X_train, en_X_test, 2)

In [21]:
ar_features_train, ar_features_test = tfidf_features(ar_X_train, ar_X_test, 2)

In [22]:
def fit_model(model_name, ar_text=False):
    if model_name == 'ridge_model':
        model_name = RidgeClassifier()
    elif model_name == 'random_forest_model':
        model_name = RandomForestClassifier()
    elif model_name == 'logistic_regression_model':
        model_name = LogisticRegression()
    elif model_name == 'kneighbors_model':
        model_name = KNeighborsClassifier()
    elif model_name == 'decision_tree_model':
        model_name = DecisionTreeClassifier()
    elif model_name == 'gaussian_nb_model':
        model_name = GaussianNB()
    if ar_text:
        model_name.fit(ar_features_train.toarray(), ar_y_train)
        model_predictions = model_name.predict(ar_features_test.toarray())
        print("Accuracy on test: ", accuracy_score(ar_y_test, model_predictions))
    else:
        model_name.fit(en_features_train.toarray(), en_y_train)
        model_predictions = model_name.predict(en_features_test.toarray())
        print("Accuracy on test: ", accuracy_score(en_y_test, model_predictions))
    return model_name

In [23]:
def summerize_category(input_text, statements, model_name, ar_text=False):
    summary_text = nltk_summarizer(input_text, statements)
    print("-------------------------------------------------------------------------------------------------------------------------------")
    print("Text summary")
    print("-------------------------------------------------------------------------------------------------------------------------------")
    print(summary_text)
    print("-------------------------------------------------------------------------------------------------------------------------------")
    input_text_arr = [text_prepare(input_text, ar_text)]
    if ar_text:
        features_train, features_test = tfidf_features(ar_X_train, input_text_arr, 2)
    else:
        features_train, features_test = tfidf_features(en_X_train, input_text_arr, 2)
    text_predection = model_name.predict(features_test.toarray())
    print("Text category:", categories[text_predection[0]])
    print("-------------------------------------------------------------------------------------------------------------------------------")

In [24]:
en_ridge_model = fit_model('ridge_model')
pickle.dump(en_ridge_model, open('en_ridge_model.pkl','wb'))

Accuracy on test:  0.9832214765100671

In [25]:
en_random_forest_model = fit_model('random_forest_model')
pickle.dump(en_random_forest_model, open('en_random_forest_model.pkl','wb'))

Accuracy on test:  0.9496644295302014

In [26]:
en_logistic_regression_model = fit_model('logistic_regression_model')
pickle.dump(en_logistic_regression_model, open('en_logistic_regression_model.pkl','wb'))

Accuracy on test:  0.9899328859060402

In [27]:
en_kneighbors_model = fit_model('kneighbors_model')
pickle.dump(en_kneighbors_model, open('en_kneighbors_model.pkl','wb'))

Accuracy on test:  0.959731543624161

In [28]:
en_decision_tree_model = fit_model('decision_tree_model')
pickle.dump(en_decision_tree_model, open('en_decision_tree_model.pkl','wb'))

Accuracy on test:  0.8691275167785235

In [29]:
en_gaussian_nb_model = fit_model('gaussian_nb_model')
pickle.dump(en_gaussian_nb_model, open('en_gaussian_nb_model.pkl','wb'))

Accuracy on test:  0.9463087248322147

In [30]:
test_1 = "The abstract will talk about the company Redbull, which is an international drink company that is widely known for its vitalizing energy drinks. One of Red bull’smany priorities is to enhance its digital presence , creating interesting content, using social media efficiently , and delving in e commerce. Chapter sixteen was involved in this paper , it involves (personal selling), and showing how important personal selling is in marketing communications. The use of this chapter is supported by the company’s marketing strategy. In Red bull’s marketing strategy personal selling is very vital in creating relationships with the customer , illustrating the brand’s image and values, and increasing sales. Personal selling is also justified by the AIDA model , social exchange theory and relationship marketing. These ideas offer insights into how customers make decisions, develop relationships, and exchange value with brands. These theories can help a company create marketing strategies efficiently. The AIDA model enables a thorough comprehension of how personal selling aids customers as they progress through the phases of decisionmaking. While the social exchange theory describes the reasons and dynamics underlying personal selling, relationship marketing offers insights into creating and maintaining long-term client connections. Applying these ideas will enable marketers to build plans that are in line with customer behaviorand preferences and, as a result, improve marketing execution. "

In [31]:
summerize_category(test_1, 10, en_random_forest_model)

-------------------------------------------------------------------------------------------------------------------------------
Text summary
-------------------------------------------------------------------------------------------------------------------------------
In Red bull’s marketing strategy personal selling is very vital in creating relationships with the customer , illustrating the brand’s image and values, and increasing sales. While the social exchange theory describes the reasons and dynamics underlying personal selling, relationship marketing offers insights into creating and maintaining long-term client connections. Chapter sixteen was involved in this paper , it involves (personal selling), and showing how important personal selling is in marketing communications. Personal selling is also justified by the AIDA model , social exchange theory and relationship marketing. One of Red bull’smany priorities is to enhance its digital presence , creating interesting content, using social media efficiently , and delving in e commerce. The AIDA model enables a thorough comprehension of how personal selling aids customers as they progress through the phases of decisionmaking. Applying these ideas will enable marketers to build plans that are in line with customer behaviorand preferences and, as a result, improve marketing execution. The use of this chapter is supported by the company’s marketing strategy. The abstract will talk about the company Redbull, which is an international drink company that is widely known for its vitalizing energy drinks. These theories can help a company create marketing strategies efficiently.
-------------------------------------------------------------------------------------------------------------------------------
Text category: Diverse News
-------------------------------------------------------------------------------------------------------------------------------

In [32]:
ar_ridge_model = fit_model('ridge_model', True)
pickle.dump(ar_ridge_model, open('ar_ridge_model.pkl','wb'))

Accuracy on test:  0.9316909294512878

In [33]:
ar_random_forest_model = fit_model('random_forest_model', True)
pickle.dump(ar_random_forest_model, open('ar_random_forest_model.pkl','wb'))

Accuracy on test:  0.8656215005599104

In [34]:
ar_logistic_regression_model = fit_model('logistic_regression_model', True)
pickle.dump(ar_logistic_regression_model, open('ar_logistic_regression_model.pkl','wb'))

Accuracy on test:  0.921612541993281

In [35]:
ar_kneighbors_model = fit_model('kneighbors_model', True)
pickle.dump(ar_kneighbors_model, open('ar_kneighbors_model.pkl','wb'))

Accuracy on test:  0.24972004479283313

In [36]:
ar_decision_tree_model = fit_model('decision_tree_model', True)
pickle.dump(ar_decision_tree_model, open('ar_decision_tree_model.pkl','wb'))

Accuracy on test:  0.793952967525196

In [37]:
ar_gaussian_nb_model = fit_model('gaussian_nb_model', True)
pickle.dump(ar_gaussian_nb_model, open('ar_gaussian_nb_model.pkl','wb'))

Accuracy on test:  0.8801791713325868

In [47]:
ar_test_1 = "مع تبوأ بيب غوارديولا دفة الإدارة الفنية لبرشلونة تغيرت أمور كثيرة في الفريق سواء بانضباط اللاعبين أو بأدائهم داخل الملعب. خلال عامه الأول مع برشلونة حقق غوارديولا ما لم يحققه أي مدرب في العالم، ففي تاريخ 2 مايو عام 2009، خاض برشلونة مبارة الكلاسيكو مع غريمه التقليدي ريال مدريد في معقل الأخير، ملعب سانتياغو برنابيو، وحقق برشلونة حينها انتصارًا مدويًا، ففاز بنتيجة 6-2. ضمنت تلك النتيجة إلى حد كبير فوز برشلونة بلقب الليغا، وبعدها بأسبوعين التقى برشلونة مع أتلتيك بلباو في نهائي كأس إسبانيا، وحقق برشلونة اللقب الذي كان غائبا عن خزائنه مدة 13 عامًا، وفي أواخر ذات الشهر حقق برشلونة لقب دوري أبطال أوروبا على حساب نادي مانشستر يونايتد الإنجليزي، وليكون ذلك اللقب الثالث للنادي بتلك البطولة. في شهر أغسطس من ذلك العام ظفر برشلونة ببطولتي كأس السوبر الإسباني على حساب أتلتيك بيلباو للمرة الثامنة بتاريخه وبطولة كأس السوبر الأوروبي على حساب نادي شاختار دونستيك الأوكراني، وفي أواخر العام ذاته شارك النادي كممثل لقارة أوروبا في بطولة كأس العالم لأندية كرة القدم محققًا لقبها لأول مرة في تاريخه بعد انتصاره في المباراة النهائية على نادي إستوديانتيس دو لا بلاتا الأرجنتيني في نهائي مثير امتد لشوطين إضافيين، ليسدل الفريق الستار عن ذلك العام الاستثنائي بإنجاز غير مسبوق، بلغ 6 ألقاب بعام واحد، ويعرف باسم السداسية التاريخية. من أهم النجوم خلال ذلك العام: ليونيل ميسي، تشافي هيرنانديز، أندريس إنيستا رغم أن الغلة خلال عام 2010 لم تكن كسابقتها إلا أن الإبداع والأداء الراقي ظل مستمرًا. أبرز ما حدث في ذلك العام من انجازات كان الظفر ببطولة الليغا للمرة العشرين بتاريخ النادي، وكأس السوبر الإسباني للمرة التاسعة، وخروج برشلونة من دوري أبطال أوروبا أمام إنتر ميلان الإيطالي من الدور نصف النهائي، وخرج كذلك مبكرًا من كأس الملك أمام نادي إشبيلية. أما على صعيد الانتقالات، فقد غادر خلال صيف ذلك العام الفرنسي تيري هنري، وسبقه في الرحيل الكميروني صامويل ايتو في صفقة مبادلة مع نادي الانتر الإيطالي أتى بموجبها اللاعب السويدي إبراهيموفيتش في صفقة تعد الأكبر بتاريخ النادي. لم يمكث ابراهيموفيتش سوى عام واحد أعير بعده إلى لنادي ميلان الإيطالي، وضُم المهاجم الإسباني دافيد فيا من نادي فالنسيا خلال صيف عام 2010. إداريًا فقد جرت انتخابات رئاسة للنادي، وصل على أثرها ساندرو روسيل لرئاسة النادي خلفًا للمحامي خوان لابورتا. في افتتاحية موسم 2010-2011 حقق النادي لقب كأس السوبر الإسباني للمرة التاسعة في تاريخه، وشهد ذات الموسم صراعًا محتدمًا بين برشلونة وغريمه ريال مدريد، ولم يقتصر هذا الصراع على بطولة الليغا، التي حافظ عليها الفريق للمرة الثالثة على التوالي والحادية والعشرين في تاريخ النادي، إذ امتد الصراع ليشمل بطولتي كأس الملك ودوري أبطال أوروبا. وصل برشلونة المباراة النهائية ببطولة كأس إسبانيا ليلتقي الريال الذي استطاع خطف هدف الفوز بالوقت الإضافي الأول، وبعد تلك المباراة بأقل من أسبوع التقى برشلونة مجددًا مع ريال مدريد في الدور نصف النهائي لبطولة دوري أبطال أوروبا واستطاع برشلونة الإطاحة بريال مدريد والوصول للمباراة النهائية بتلك البطولة، والتي جمعت برشلونة مع نادي مانشستر يونايتد الإنجليزي، على ملعب ويمبلي في العاصمة البريطانية لندن، انتصر على إثرها فريق المدرب بيب غوارديولا بنتيجة 3-1 بعد أداء خيالي لنجوم الفريق في المباراة النهائية، محققين اللقب الرابع للكتلان بتلك البطولة، ومحققين أيضًا رقما قياسيا في عدد مرات الوصول لمبارة نهائية في إطار بطولات الأندية الأوروبية. لم تتوقف إنجازات النادي خلال عام 2011 عند ذلك، ففي مستهل الموسم الكروي 2011- 2012 وتحديدًا في منتصف شهر أغسطس، فاز النادي بكأس السوبر الإسباني عندما تفوق على غريمة التقليدي فريق ريال مدريد، ولم يمض أسبوع بعد تحقيق لقب تلك البطولة حتى حقق النادي كأس السوبر الأوروبي على حساب نادي بورتو البرتغالي، لتزداد غلة النادي من الألقاب ويصبح جوسيب غوارديولا أنجح مدرب في تاريخ النادي من حيث عدد الألقاب، وفي أواخر عام 2011 شارك النادي ببطولة كأس العالم للأندية في اليابان وتمكن من الظفر بلقب تلك البطولة بعد تفوقة في المباراة النهائية على فريق سانتوس البرازيلي"

In [48]:
summerize_category(ar_test_1, 4, ar_ridge_model, True)

-------------------------------------------------------------------------------------------------------------------------------
Text summary
-------------------------------------------------------------------------------------------------------------------------------
لم يمكث ابراهيموفيتش سوى عام واحد أعير بعده إلى لنادي ميلان الإيطالي، وضُم المهاجم الإسباني دافيد فيا من نادي فالنسيا خلال صيف عام 2010. من أهم النجوم خلال ذلك العام: ليونيل ميسي، تشافي هيرنانديز، أندريس إنيستا رغم أن الغلة خلال عام 2010 لم تكن كسابقتها إلا أن الإبداع والأداء الراقي ظل مستمرًا. إداريًا فقد جرت انتخابات رئاسة للنادي، وصل على أثرها ساندرو روسيل لرئاسة النادي خلفًا للمحامي خوان لابورتا. مع تبوأ بيب غوارديولا دفة الإدارة الفنية لبرشلونة تغيرت أمور كثيرة في الفريق سواء بانضباط اللاعبين أو بأدائهم داخل الملعب.
-------------------------------------------------------------------------------------------------------------------------------
Text category: Sport
-------------------------------------------------------------------------------------------------------------------------------